<!DOCTYPE html>
<html>
<head>
    <title>404 - Page Not Found | posts</title>
    <link rel="icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}" type="image/x-icon">
    <style>
        @font-face {
            font-family: "Assistant";
            src: url(fonts/Assistant/Assistant-VariableFont_wght.ttf);
        }
        body {
            font-family: "Assistant", sans-serif;
            background-color: #ececec;
        }
        #titleMain {
            height:70px;
            width:98%;
            font-size: 800%;
        }
        #pMain {
            font-size: 200%;
        }
    </style>
</head>
<body>
    <h1 id="titleMain" align="center">404 - Page Not Found</h1>
    <br><br><br><br><br><br><p id='pMain'align="center">Sorry, the requested URL wasn't found on our servers. Check your spelling, and make sure the link is correct. To go back to the home page, <a href="/">click here</a>. For Wahoozle's Main Site, <a href="https://www.wahoozlestudios.co.uk/" target="_blank">click here</a>.</p>
</body>
</html>