<!DOCTYPE html>
<html>
<head>
    <style>
        @font-face {
            font-family: "Assistant";
            src: url(fonts/Assistant/Assistant-VariableFont_wght.ttf);
        }
        body {
            font-family: "Assistant", sans-serif;
            background-color: #ececec;
        }
    </style>
    <title>Home | posts</title>
    <link rel="icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <h1 align="center" id="homeTitle"><b><u></u></b></h1>
    <script>
        var params = new URLSearchParams(window.location.search);
        var username = params.get('user');
        console.log("User: " + username);

        if (username == null) {
            window.location.replace("/login");
        } else {
            var homeTitleId = document.getElementById("homeTitle");
            var currentDate = new Date();
            var currentHour = currentDate.getHours();
            var timeOfDay;

            if (currentHour >= 5 && currentHour < 12) {
                timeOfDay = "Morning \u{1F305}"; // Morning Sun emoji
            } else if (currentHour >= 12 && currentHour < 20) {
                timeOfDay = "Afternoon \u{1F31E}"; // Sun with face emoji
            } else {
                timeOfDay = "Night \u{1F319}"; // Crescent moon emoji
            }


            console.log("It's currently " + timeOfDay);
            homeTitleId.textContent = "Good " + timeOfDay + ", " + username;
        }
    </script>
</body>
</html>