<!DOCTYPE html>
<html>
<head>
    <style>
        @font-face {
            font-family: "Assistant";
            src: url(fonts/Assistant/Assistant-VariableFont_wght.ttf);
        }
        body {
            font-family: "Assistant", sans-serif;
            background-color: #ececec;
        }
    </style>
    <title>Home | posts</title>
</head>
<body>
    <h1 align="center" id="homeTitle"><b><u></u></b></h1>
    <script>
        var params = new URLSearchParams(window.location.search);
        var username = params.get('user');
        console.log("User: " + username);

        if (username == null) {
            window.location.replace("/");
        } else {
            var homeTitleId = document.getElementById("homeTitle");
            var currentDate = new Date();
            var currentHour = currentDate.getHours();
            var timeOfDay;

            if (currentHour >= 5 && currentHour < 12) {
                timeOfDay = "Morning";
            } else if (currentHour >= 12 && currentHour < 20) {
                timeOfDay = "Afternoon";
            } else {
                timeOfDay = "Night";
            }

            console.log("It's currently " + timeOfDay);
            homeTitleId.textContent = "Good " + timeOfDay + ", " + username;
        }
    </script>
</body>
</html>
