<!DOCTYPE html>
<html>
<head>
    <title>Posts By Wahoozle</title>
    <link rel="icon" type="image/png" href="imgs/favicon.ico">
    <style>
        @font-face {
            font-family: "Assistant";
            src: url(fonts/Assistant/Assistant-VariableFont_wght.ttf);
        }
        body {
            font-family: "Assistant", sans-serif;
            background-color: #ececec;
        }
        #header {
            font-size:1000%;
        }
        #appByText {
            font-size: 120%;
        }
    </style>
</head>
<body>
    <br><br><br><br><br><h1 align="center" id="header" >Posts</h1>
    <div>
        <button id="loginButton" href="login.html">Login</button>
        <button id="signUpButton">Sign Up</button>
    </div>
    <h4 align="center"id="appByText"><b>App by <a href="https://www.wahoozlestudios.co.uk/">Wahoozle</a></b></h4>
</body>
</html>
