<!DOCTYPE html>
<html>
<head>
    <title>Login | posts</title>
    <link rel="icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}" type="image/x-icon">
    <style>
        @font-face {
            font-family: "Assistant";
            src: url(fonts/Assistant/Assistant-VariableFont_wght.ttf);
        }
        body {
            font-family: "Assistant", sans-serif;
            background-color: #ececec;
            text-align: center; 
        }
        h1 {
            margin-top: 50px; 
        }
        input {
            margin: 10px; 
            padding: 5px; 
        }
        button {
            padding: 10px 20px; 
        }
    </style>
</head>
<body>
    <h1>Login - posts</h1>
    <input type="text" id="usernameInput" placeholder="Username">
    <br> 
    <input type="password" id="passwordInput" placeholder="Password">
    <br> 
    <button id="signIn" onclick="signIn()">Sign In</button>
    <br><br>
    <button id="signUpLink" onclick="signUpLink()">Don't have an account? Sign Up Here</button>
    <script>
        function signIn() {
            var usernameInput = document.getElementById("usernameInput").value;
            var passwordInput = document.getElementById("passwordInput").value;
            if (usernameInput === "zacmoon" && passwordInput === "chelmer27") {
                send();
            } if(usernameInput=="jeff"&&passwordInput=="password123"){
                send()
            } else {
                console.log("Incorrect Password or Username");
            }
        }

        function send() {
            var usernameInput = document.getElementById("usernameInput").value;
            var newUrl = '/?user=' + encodeURIComponent(usernameInput);
            window.location.href = newUrl;
        }

        function signUpLink() {
            window.location.href = "/signup";
        }
    </script>
</body>
</html>
