<!DOCTYPE html>
<html>
<head>
    <title>Sign Up | posts</title>
    <link rel="icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}" type="image/x-icon">
    <style>
        @font-face {
            font-family: "Assistant";
            src: url(fonts/Assistant/Assistant-VariableFont_wght.ttf);
        }
        body {
            font-family: "Assistant", sans-serif;
            background-color: #ececec;
        }
        .inputs {
            width:500px;
            height:70px;
            font-size: 50px;
        }
    </style>
</head>
<body>
    <h1 align="center">Sign Up - posts</h1>
    <div id="inputs"align="center">
        <input class="inputs" id="usernameInputField" placeholder="Username :">
        <br><br><input class="inputs" id="passwordInputField" placeholder="Password :">
        <br><br><button onclick="signUp()" id="signUpBtn">Sign Up</button>
    </div>

    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script> 

    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyD5D7jFl0PCk8WDXMDZJF2zmEAv_nCo6tU",
            authDomain: "postswebapp.firebaseapp.com",
            projectId: "postswebapp",
            storageBucket: "postswebapp.appspot.com",
            messagingSenderId: "1053660754700",
            appId: "1:1053660754700:web:0806c04b59c0daf3468f29",
            measurementId: "G-YL0RJN2N0V"
        };

        firebase.initializeApp(firebaseConfig);
        const db = firebase.firestore();

        function signUp() {
            var usernameInputField = document.getElementById("usernameInputField");
            var passwordInputField = document.getElementById("passwordInputField");
             
            var username = usernameInputField.value;
            var password = passwordInputField.value;

            console.log("Username: " + username);
            console.log("Password: " + password);

            if(username === "") {
                console.log("Username Field Empty");
                return;
            }
             
            if(password === "") {
                console.log("Password Field Empty");
                return;
            }
            const usersCollection = firebase.firestore().collection("users");

            db.collection("users").doc(username).set({
                username: username,
                password: password
            })
            .then(function() {
                console.log("Document written with ID: ", username);
                usernameInputField.value = "";
                passwordInputField.value = "";
                function send() {
                var usernameInput = document.getElementById("usernameInput").value;
                var newUrl = '/?user=' + encodeURIComponent(usernameInput);
                window.location.href = newUrl;
        }
            })
            .catch(function(error) {
                console.error("Error adding document: ", error);
            })
        }
    </script>
</body>
</html>
