<!DOCTYPE html>
<html>
<head>
    <title>Sign Up | posts</title>
    <link rel="icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}" type="image/x-icon">
    <style>
        @font-face {
            font-family: "Assistant";
            src: url(fonts/Assistant/Assistant-VariableFont_wght.ttf);
        }
        body {
            font-family: "Assistant", sans-serif;
            background-color: #ececec;
        }
        .inputs {
            width:500px;
            height:70px;
            font-size: 50px;
        }
    </style>
</head>
<body>
    <h1 align="center">Sign Up - posts</h1>
    <div id="inputs"align="center">
        <input class="inputs" id="usernameInput" placeholder="Username :">
        <br><br><input class="inputs" id="passwordInput" placeholder="Password :">
        <br><br><input class="inputs" id ="firstNameInput" placeholder="First Name :">
        <br><br><input class="inputs" id="lastNameInput" placeholder="Last Name :">
        <br><br><input class="inputs" id="emailInput" placeholder="Email :">
    </div>
</body>
</html>