<!DOCTYPE html>
<html>
<head>
    <title>Sign Up | posts</title>
    <link rel="icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}" type="image/x-icon">
    <style>
        @font-face {
            font-family: "Assistant";
            src: url(fonts/Assistant/Assistant-VariableFont_wght.ttf);
        }
        body {
            font-family: "Assistant", sans-serif;
            background-color: #ececec;
        }
        .inputs {
            width:500px;
            height:70px;
            font-size: 50px;
        }
    </style>
</head>
<body>
    <h1 align="center">Sign Up - posts</h1>
    <div id="inputs"align="center">
        <input class="inputs" id="usernameInputField" placeholder="Username :">
        <br><br><input class="inputs" id="passwordInputField" placeholder="Password :">
        <br><br><button onclick="signUp()" id="signUpBtn">Sign Up</button>
    </div>


    <script>
        function signUp(){
            var usernameInputFieldId = document.getElementById("usernameInputField");
            var passwordInputFieldId = document.getElementById("passwordInputField");
             
            var username = usernameInputFieldId.value;
            var password = passwordInputFieldId.value;

            console.log("Username : "+username);
            console.log("Password : "+password);
            if(username==null){
                console.log("Username Field Empty")
            } 
            if(password==null){
                console.log("Password Field Empty")
            }
            else{
                
            }
        }
    </script>
</body>
</html>